/* Default stylesheet for CompetVet Suivi, will be overridden if necessary in theme */
.resourcelibrary-filters-form > div.form-group {
    margin-left: auto;
    margin-right: auto;
}


.resourcelibrary-filters-form .form-inline .custom-select,
.resourcelibrary-filters-form .form-inline .btn,
.resourcelibrary-filters-form .form-inline,
.resourcelibrary-filters-form .form-inline div.d-inline-block.position-relative {
    max-width: 100%;
}

.resourcelibrary-filters-form .form-inline .custom-select {
    width: 100% !important;
}

.resourcelibrary-filters-form .col-form-label.d-inline {
    float: none;
    display: block !important;
    font-size: small;
    font-variant: petite-caps;
    font-weight: bold;
    text-decoration: underline;
}

.resourcelibrary-filters-form .form-group.row {
    display: flex;
    flex-direction: column;
}

.local-resourcelibrary .dashboard-card-img {
    background-size: contain;
    background-repeat: no-repeat;
}

.local-resourcelibrary img.list-image {
    width: 4em;
    height: 4em;
    border-radius: 20%;
}

.local-resourcelibrary img.list-icon {
}

.local-resourcelibrary .card-icon {
    position: absolute;
    top: 1em;
    right: 1em;
}

.resourcelibrary-filters-form .fdate_selector {
    flex-wrap: wrap;
}

.resourcelibrary-filters-form .filter-instructions {
    font-size: xx-small;
    font-style: italic;
}

.resourcelibrary-content a.item-view .icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
}

.local-resourcelibrary .card .entityame {
    /* Line clamping */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
