{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_resourcelibrary/list-placeholder

    This template renders an card item loading placeholder for multiple items in a list.

    Example context (json):
    {}
}}
<li class="list-group-item entity-listitem">
    <div class="col-md-6 p-0 d-flex align-items-center">
        <div class="bg-pulse-grey rounded-circle mr-2" style="height: 1rem; width: 1rem;"></div>
        <div class="bg-pulse-grey w-50" style="height: 1rem; margin: 0.5rem 0"></div>
    </div>
</li>